@charset "UTF-8";
/*

 COLORS:
 Light green: #7ed56f - rgba(126,213,111,1 )
 Medium green: #55c57a 
 Dark green: #28b485 -  rgba(40,180,131,1)
 
*/
*, *::after, *::before {
  /*hago un reset de propiedades globales*/
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*fuerzo la herencia para que se herede del body*/ }

html {
  font-size: 62.5%;
  /* seteo el root size, sabemos que 1 rem es 10 px para convertir facil*/ }

body {
  /*los estilos globales de font se ponen en el body porqu son hereditarios*/
  font-family: "Lato", sans-serif;
  /*puedo usar lato porque lo importe de gfonts en el html pero sino usa una sans serif*/
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.header {
  height: 95vh;
  /*ocupa el 95% del view port*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /*segunda background img*/
  background-size: cover;
  /*o cupa todo el ancho del header*/
  background-position: top;
  /*se pega a la parte de arriba del header*/
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* para que salga bien la animacion y no sea shaky*/
  margin-bottom: 3rem; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out; }

@keyframes moveInLeft {
  0% {
    /*marca el estilo al momento de la animacion*/
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    /*marca el estilo al momento de la animacion*/
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    /*marca el estilo al momento de la animacion*/
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translate(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  /*el padre es btn*/
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  /*respecto al primer padre con pos relative*/
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  /*aumenta el tamaño del pseudo elemento*/
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }
